.hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #495e57;
  gap: 10px;
  width: 100%;
  color: white;
}
.hero-section img {
  width: 200px;
  height: 200px;
  border-radius: 12px;
  margin: 10px;
}
.hero-section article {
  padding: 20px;
}
.hero-section h1 {
  font-size: 15pt;
  color: #f4ce14;
  margin-bottom: 0;
}
.hero-section h2 {
  font-size: 12pt;
  margin-top: 0;
}
.hero-section p {
  width: 100%;
  font-size: 9pt;
}
.hero-section a {
  background: #f4ce14;
  border-radius: 16px;
  text-decoration: none;
  padding: 5px;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 500px) {
  .hero-section article {
    padding: 20px;
    width: 70%;
  }
  .hero-section h1 {
    font-size: 33pt;
  }
  .hero-section h2 {
    font-size: 18pt;
  }
  .hero-section p {
    width: 80%;
    font-size: 16pt;
  }
  .hero-section a {
    width: 70%;
  }
}

@media screen and (min-width: 930px) {
  .hero-section {
    height: 400px;
    gap: 20px;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .hero-section img {
    width: 25%;
    height: 450px;
    margin-top: 70px;
  }
  .hero-section article {
    width: 35%;
  }
  .hero-section p {
    width: 70%;
    font-size: large;
  }
  .hero-section h1 {
    font-size: 40pt;
  }
  .hero-section h2 {
    font-size: 24pt;
  }
  .hero-section a {
    width: 40%;
  }
}
