.hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #495e57;
  gap: 10px;
  width: 100%;
  color: white;
}
.hero-section img {
  width: 200px;
  height: 200px;
  border-radius: 12px;
}
article {
  padding: 20px;
}
article h1 {
  font-size: 18pt;
  color: #f4ce14;
  margin-bottom: 0;
}
article h2 {
  font-size: 12pt;
  margin-top: 0;
}
article p {
  width: 90%;
  font-size: small;
}
article a {
  background: #f4ce14;
  border-radius: 10px;
  text-decoration: none;
  padding: 5px;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 500px) {
  article {
    padding: 20px;
    width: 70%;
  }
  article h1 {
    font-size: 33pt;
  }
  article h2 {
    font-size: 18pt;
  }
  article a {
    width: 70%;
  }
}

@media screen and (min-width: 930px) {
  .hero-section {
    height: 400px;
    gap: 20px;
    justify-content: space-around;
    align-items: flex-start;
  }
  .hero-section img {
    width: 25%;
    height: 450px;
    margin-top: 70px;
  }
  article {
    width: 35%;
  }
  article p {
    width: 70%;
    font-size: large;
  }
  article h1 {
    font-size: 40pt;
  }
  article h2 {
    font-size: 24pt;
  }
  article a {
    width: 40%;
  }
}
