.customers-say {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}
.section-part-one {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section-part-one a {
  background: #f4ce14;
  border-radius: 16px;
  text-decoration: none;
  text-align: center;
  color: black;
  width: 20%;
  padding: 5px;
}

.section-part-two {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.dish-card {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: #edeffe;
}
.dish-card > img {
  width: 100%;
}

.dish-card .card-body {
  padding: 10px;
}
