.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid #8080807a;
  padding: 20px;
  width: 270px;
  margin: 30px;
  box-shadow: 0px 0px 4px #8080807a;
}
.form h1 {
  text-align: center;
  color: #495e57;
}
.form button {
  margin: 5px;
}

.guests-field {
  padding: 20px;
  border-radius: 4px;
  font-size: 12pt;
  border: 1px solid #8080807a;
}
.guests-field:hover {
  border: 1px solid rgb(24, 24, 31);
}

.guests-field:focus-visible {
  outline-color: rgb(27, 134, 221) !important;
}

@media screen and (min-width: 600px) {
  .form {
    width: 60%;
    padding: 50px;
  }
  .form button {
    width: 30%;
    padding: 10px;
    align-self: center;
  }
}
