.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: rgb(237, 239, 238);
  padding: 7px;
  gap: 10px;
}
.header ul {
  display: flex;
  gap: 9px;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.header a {
  font-size: 9pt;
  text-decoration: none;
  color: #333333;
}

@media screen and (min-width: 500px) {
  .header {
    gap: 40px;
  }
  .header ul {
    gap: 30px;
  }
  .header a {
    font-size: 12pt;
  }
}
